:root {   /* VALORES PREINICIALIZADOS */
    --primario: #9C27B0;
    --primario0scuro: #89119d;
    --secundario: #FFCE00;
    --secundario0scuro: #a18100;
    --blanco:#FFFFFF;
    --negro: #000;
    
     --fuentePrincipal: "Staatliches", sans-serif;
}
html {
    box-sizing: border-box;        /* Agregar este codigo siempre, al igual que el NORMALIZE */     
    font-size:  62.5%;             /* Este Font-size permite usar la regla de 1rem=10px */
  }                            
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /** Globales **/

  body {
    background-color: var(--primario);
    font-size: 1.6rem;    /* Tamano del texto*/
    line-height: 1.5;  /* Comúnmente se usa para establecer la distancia entre líneas de texto */

  }

  p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;  /** Todos lo parrafos usaran Arial **/
    color: var(--blanco);

  }

  a {
    text-decoration: none; /* Quitamos la decoracion de los links*/
  }
  img {
    max-width: 100%;
    width: 100%;
  }

  .contenedor {
    max-width: 120rem;
    margin: 0 auto;      /** Manera facil de centrar un contenedor **/
  }

  h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);

  }
  h1 {font-size: 4rem;}

  h2 {font-size: 3.2rem;}

  h3 {font-size: 2.4rem;}


  /** Header con BEM **/
  .header {
    display: flex;                   /* Centramos el header con display y justify-content*/
    justify-content: center;
    
  }

  .header__logo {             /*Usamos el margin pra dar un margen de distancia a los lados y arriba*/
    margin: 3rem 0;
  }
/** Footer**/

.footer {
  background-color: var(--primario0scuro);
  padding: 1rem 0;
  margin-top: 2rem; /* Establece un margen superior de 20 píxeles */

}

.footer_texto {
  text-align: center;
  font-family: var(--fuentePrincipal);
  font-size: 2.2rem;

}
  /* Navegacion */
.navegacion {
  background-color: var(--primario0scuro);
  padding: 1rem 0;                      
  display: flex;
  justify-content: center;
  gap: 2rem;       /* Establece 10px de espacio entre elementos flexibles */
}

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 3rem;
  margin-right: 2rem  /* Forma Vieja de Establecer 10px de espacio entre elementos flexibles */

}
.navegacion__enlace:last-of-type{   /* Quitamos el margen de distancia de el ultimo elemento para centarlo*/
  margin-right: 0;
}

.navegacion__enlace--activo,    /* Aqui mantenemos el color cuando estamos dentro de cierto enlace*/
.navegacion__enlace:hover {     /* Cambia el color del texto cuando el cursor está sobre el enlace */
  color: var(--secundario);      
}

/* Grid*/
.grid{                 /* Posicionamos los productos de una manera super sencilla con grid*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 786px) {
  .grid{              
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
    
}

/* Productos*/
.producto{
 background-color: var(--primario0scuro);
 padding: 1rem;
}


.producto__nombre{
  font-size: 4rem;

}
.producto__precio{
  font-size: 2.8rem;
  color: var(--secundario);

}
.producto__nombre,
.producto__precio{
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/** Graficos **/
.grafico{
 min-height: 30rem;
 background-repeat: no-repeat; /*Evita que las imagenes url se repitan*/
 background-size: cover;       /*Hace que las imagenes tomen el tamano correspondiente al espacio donde estan*/
 grid-column: 1 / 3;
 
}
.grafico--camisas{ 
/* Establece el elemento en la segunda fila hasta (pero no incluyendo) la tercera fila 
   dentro de una cuadrícula con múltiples filas./**/
  grid-row: 2 / 3;
  background-image: url(../img/grafico1.jpg)
}

.grafico--node{
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
.grafico--node{

  grid-row: 5 / 6;
  grid-column: 2 /4 ;


}
}

/** Nosotros **/
.nosotros{
  display: grid;
  grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
  .nosotros{
    
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.nosotros__imagen{
  grid-row: 1/2;
}

@media (min-width: 768px) {
    .nosotros__imagen{
      grid-column: 2/3;
    }
}

/** Bloques**/

  .bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  
  }

  @media (min-width: 768px) {
    .bloques{
      grid-template-columns: repeat(4, 1fr);

    }
  
  }
  .bloque{
    align-items: center;
    text-align: center;
 
  }
  
  .bloque__titulo{        /*Quitamos el marrgen al titulo*/
    margin: 0;
  }


  /*Pagina del produto**/

  @media (min-width: 768px) {
    .camisa{

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      padding: 2rem;
    }
      
  }
  .camisa{
    padding: 2rem;
    
  }

  .formulario{
    display: grid;                  
    grid-template-columns: repeat(2, minmax(0, 1fr));;
    gap: 2rem;
  }
  
  .formulario__campo { 
    border: 1rem solid var(--primarioOscuro);
    background-color:var(--secundario);

    color:var(--negro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  @media (max-width: 768px) {
      .formulario__campo { 
        width: 100%;
      }
  }

  .formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3;

  }
  .formulario__submit:hover{
  
    cursor: pointer;
    background-color: var(--secundario0scuro);
  }

